---
layout: default
---

<div class="row">
    <div class="col-lg-3" style="font-size: 0.9rem">
        <img src="/assets/img{{page.permalink}}.png" data-action="zoom" class="rounded-circle">
        {% if page.office %}
            <i class="fas fa-building"></i>
            &nbsp;&nbsp;{{page.office}}
            <br>
        {% endif %}

        {% if page.eml %}
            <i class="fas fa-envelope"></i>
            <a href="mailto:{{page.eml}}">&nbsp;&nbsp;{{page.eml}}</a>
            <br>
        {% endif %}

        {% if page.website %}
            <a href="{{page.website}}"><i class="fas fa-globe"></i></a>
        {% endif %}

        {% if page.google_scholar %}
            <a href="{{page.google_scholar}}"><i class="fas fa-graduation-cap"></i></a>
        {% endif %}

        {% if page.github %}
            <a href="{{page.github}}"><i class="fab fa-github"></i></a>
、        {% endif %}

        {% if page.twitter %}
            <a href="{{page.twitter}}"><i class="fab fa-twitter"></i></a>
        {% endif %}
    </div>
    <div class="col-lg-9">
        <h3>{{page.pname}}</h3>
        <p>{{page.desp}}</p>
    </div>
</div>

<hr>

{{content}}
